{% extends "base.html" %}

{% block title %} Patient Dashboard {% endblock %}

{% block content %}
<h2>Welcome, Dr. {{ current_user.firstname }} {{ current_user.lastname }}</h2>
    <h3>Your Patients</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Contact Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
            <tr>
                <td>{{ patient.patient_id }}</td>
                <td>{{ patient.firstname }} {{ patient.lastname }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.contact_number }}</td>
                <td>
                    <a href="{{ url_for('main.view_patient', patient_id=patient.id) }}" class="btn btn-info btn-sm">View</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">No patients assigned.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <!-- Add Patient Button -->
<a href="{{ url_for('main.add_patient') }}" class="btn btn-success mt-4">Add New Patient</a>

{% endblock %}

