<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select Role</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Link to custom CSS -->
</head>
<body>

  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="text-center p-5 border rounded shadow" style="max-width: 500px; background-color: rgb(231, 204, 204);">
      <img src="/static/image/medcare-logo.webp" class="img-fluid mb-4" style="max-width: 150px;" alt="Medcare Logo"> 
      <h1>Logging as</h1>
      <p>Choose your role.</p>
  
      <div class="d-flex flex-column align-items-center mt-4">
        <a href="{{ url_for('main.login', role='admin') }}" class="btn btn-primary btn-lg mb-3" style="width: 100%;">Admin</a>
        <a href="{{ url_for('main.login', role='doctor') }}" class="btn btn-secondary btn-lg" style="width: 100%;">Doctor</a>
      </div>
    </div>
  </div>
  
  
  
  

</body>
</html>
