{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2>Reset Your Password</h2>
    <form method="POST" action="{{ url_for('main.reset_password', token=token) }}">
        <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" name="password" required class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password" required class="form-control" id="confirm_password">
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
{% endblock %}
