<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-light" style="background-color: #343a40; padding: 10px;">
        <div class="container-fluid d-flex justify-content-between align-items-center">
        <!-- Return Button -->
        <button class="btn btn-light" onclick="window.history.back();">
            <i class="bi bi-arrow-left"></i> Return
        </button>
    
        <!-- Empty div for alignment -->
        <div style="width: 50px;"></div>
        </div>
    </nav>
    <br>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="alert alert-danger">
        {% for category, message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
    <div class="container">
        <h2>Reset Your Password</h2>
        <form method="POST" action="{{ url_for('main.reset_password', token=token) }}">
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" name="password" required class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" required class="form-control" id="confirm_password">
            </div>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</body>
</html>

