<!-- templates/view_visit.html -->

{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Visit Details</h2>
    <div class="card mb-3">
        <div class="card-header">
            Visit on {{ visit.visit_date.strftime('%Y-%m-%d') }}
            <a href="{{ url_for('main.edit_visit', visit_id=visit.id) }}" class="btn btn-primary btn-sm float-right">Edit Visit</a>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Status:</strong> {{ visit.status }}</p>
                    <p><strong>Reason Code:</strong> {{ visit.reason_code }}  - {{ visit.reason_code_description }} </p>
                    <p><strong>Diagnosis Code:</strong> {{ visit.diagnosis_code }}</p>
                </div>
                <div class="col-md-6 float-right">
                    <p><strong>Class Code:</strong> {{ visit.class_code }}</p>
                    <p><strong>Priority:</strong> {{ visit.priority}} </p>
                    <p><strong>Location:</strong> {{ visit.location }}</p>
                </div>
            </div>         
            <p><strong>Notes:</strong> {{ visit.notes }}</p>
        </div>
    </div>

    <h3>Observations</h3>
    
    {% for observation in visit.observations %}
    <div class="card mb-2">
        <div class="card-body">
            <p><strong>Code:</strong> {{ observation.code }}</p>
            <p><strong>Value:</strong> {{ observation.value }}</p>
            <p><strong>Status:</strong> {{ observation.status }}</p>
            <p><strong>Date:</strong> {{ observation.effectiveDateTime.strftime('%Y-%m-%d %H:%M:%S') if observation.effectiveDateTime else 'N/A' }}</p>
        </div>
    </div>
    {% else %}
    <p>No observations recorded.</p>
    {% endfor %}
    <hr>
    <a href="{{ url_for('main.add_observation', visit_id=visit.id) }}" class="btn btn-primary mt-3">Add New Observation</a>

    <!-- Similar sections for Procedures, Medications, Vitals, Immunizations, Allergies, Medical Histories -->
</div>
{% endblock %}
